@model Startersite.Models.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Product editing</h3>
    </div>
</div>

@using (Html.BeginForm("AddProduct", "Admin"))
{
    @Html.Partial("_ProductDetails")

    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-primary">
        @Html.RouteLink("Discard changes and go to list", new { controller = "Admin", action = "ProductList" }, new { @class = "btn btn-default" })
    </div>
}

