@model Startersite.Models.ViewModel.OrdersListModelViewModel
@using Startersite.HtmlHelpers
@using Startersite.Models.ViewModel

@{
    ViewBag.Title = "OrdersList";
}


<body>
    <div>
       @Html.RouteLink("Create new", new {action = "CreateProduct" });
    </div>
    @Html.Partial("_renderOrders", Model.Orders)

    @Html.PageLinks(Model.PagingInfo, x => Url.Action("OrderList", new { page = x }))
</body>
<h2>OrdersList</h2>

