@model OmiconShop.Application.Admin.ViewModel.ProductViewModel

<div class="panel-body justify-content-center">
    <div class="admin-pdp">
        @Html.EditorForModel(Model)
    </div>
    <div class="input-group admin-pdp-image-form">
        <div class="input-group-prepend">
            <a class="input-group-text" href='javascript:;'>Upload</a>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input pdp-img" name="Image"
                   aria-describedby="inputGroupFileAddon01" onchange='$("#upload-file-info").html($(this).val());'>
            <label class="custom-file-label" id="upload-file-info">Choose file</label>
        </div>
    </div>
        <div>
            @if (Model != null && Model.ImageUrl != null)
            {
                <img class="img-thumbnail admin-pdp-image" src="@Model.ImageUrl" />
            }
            else
            {
                <img class="img-thumbnail admin-pdp-image" src="~/Content/images/no-image-big.png">
            }
        </div>
    </div>