@model OmiconShop.Application.Admin.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Add Product";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="admin-nav-menu">
    @Html.Partial("_AdminNavMenu")
</div>
@using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_ProductDetails")

    <div class="submit-product">
        <input type="submit" value="Save" class="btn btn-primary">
        @Html.RouteLink("Discard changes and go to list", new { controller = "Admin", action = "ProductList" }, new { @class = "btn btn-default" })
    </div>
}

