@{
    ViewBag.Title = "Declined";
}

<h2>Your order was declined! Please @Html.ActionLink("continue shopping", "ProductsList", "Home") or @Html.ActionLink("empty your basket", "Index", "Basket")!</h2>

