@model OmiconShop.Domain.Entities.Order

@{
    ViewBag.Title = "SucessfullOrder";
}

<h2>
    Dear
    @if (User.Identity.IsAuthenticated)
    {@User.Identity.Name}
    else
    {
        @:anonymous
    }
    your order was sucessfully created!!!
</h2>
<div>
    @Html.RouteLink("Go to your order details",
   new { controller = "Admin", action = "OrderDetails", orderId = Model.Id})
</div>

