@model Startersite.Models.ViewModel.OrderInformationViewModel
@{

    ViewBag.Title = "OrderInformation";
}

<h1>Checkout</h1>
<h3>Shipping information</h3>

@using (Html.BeginForm("OrderOverview", "Checkout"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.EditorForModel(Model);
}

<div class="text-center">
    <input class="btn btn-primary" type="submit" value="Next">
</div>