@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "OrderSucessfullyCreated";
}

<h2>Your order @User.Identity.GetUserName() was succesfully created!</h2>
@Html.RouteLink("Go to order details", new { controller = "Admin", action = "OrderDetails" })

