
@{
    ViewBag.Title = "Cabinet";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<body>
    <div class="cabinetLinks">
        <div class="ProductsList">
            @Html.RouteLink("Personal info", new { action = "PersonalInfo", controller = "Home" })
        </div>
        <div class="ProductsList">
            @Html.RouteLink("Products list", new { action = "ProductsList", controller = "Home" })
        </div>
        <div class="ProductsList">
            @Html.RouteLink("Orders list", new { action = "ProductsList", controller = "Home" })
        </div>
</body>


