@model IEnumerable<Startersite.Products>
    @{
        ViewBag.Title = "Products List";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <body>
        <div class="addNew">
            @Html.RouteLink("Add new", "AddProduct", "Home");
        </div>
        @Html.Partial("_renderProducts", Model);
    </body>


