<div>
    <p>&copy; @DateTime.Now.Year - Omicon-Shop</p>
    <div>@Html.RouteLink("Contact us", new { controller = "Home", action = "Contact" })</div>
    <div>@Html.RouteLink("About us", new { controller = "Home", action = "About" })</div>
</div>
