@{
    ViewBag.Title = "Declined";
}

<div class="container">
    <span class="declined-order">
        Your order was declined! Please <b>
            @Html.RouteLink("continue shopping", new { controller = "Home" , action = "ProductsList" },
                      new { @class = "declined-order_links" })
        </b>
        or <b>
            @Html.RouteLink("empty your basket", new { controller = "Basket", action = "Index" },
                                                                                new { @class = "declined-order_links" })
        </b>!
    </span>
</div>
