@{
    ViewBag.Title = "Declined";
}

<span class="declined-order">Your order was declined! Please @Html.ActionLink("continue shopping", "ProductsList", "Home") or @Html.ActionLink("empty your basket", "Index", "Basket")!</span>

