@model OmiconShop.Application.Checkout.ViewModel.OrderInformationViewModel
@{

    ViewBag.Title = "Checkout";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("OrderOverview", "Checkout"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.EditorForModel(Model);

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Next">
    </div>
}
