body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 16px;
}

.footer {
    position: relative;
    margin-top: 5rem;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.fa-shopping-basket {
    font-size: 25px;
    margin-left: 2rem;
}

.dropdown {
    margin-left: 1rem;
}

.login-dropdown-menu {
    width: 13rem;
}

.fa-user {
    margin-top: 0.125rem;
    font-size: 22px;
}

.login-link {
    margin-top: 0.125rem;
}

.products-link {
    margin-top: 0.3rem;
}

.navbar-brand {
    margin-top: 0.125rem;
}

.text-box {
    margin-bottom: 1rem;
}

.check-box {
    position: relative;
    top: -1.4rem;
    left: 8rem;
}

.editor-label {
    display: inline-block;
    margin-bottom: -.5rem;
}

.text-box.single-line,
.text-box.multi-line {
    display: block;
    width: 100%;
    padding: .300rem .50rem;
    font-size: 1rem;
    line-height: 0.7;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .40rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.copyright {
    margin-bottom: 1rem;
}

.fa-facebook-f {
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.fa-google {
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.fa-twitter {
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.fa-instagram {
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.ft-link {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 0.7rem;
}

a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.facets {
    margin-right: 0.75rem;
    background-color: #f8f9fa;
    border-radius: 20px;
}

.facets-item {
    border-radius: 20px;
}

.product-list {
    position: relative;
    padding: -4rem;
    background-color: #f8f9fa;
    border-radius: 20px;
}

    .product-list .container {
        height: 3rem;
        margin: 0.5rem;
    }

.pagination {
    font-size: 0.9rem;
}

.link-pr {
    border-radius: 10px 0 0 10px;
}

    .link-pr[disabled="disabled"] {
        pointer-events: none;
    }

.link-nt {
    border-radius: 0 20px 20px 0;
}

    .link-nt[disabled="disabled"] {
        pointer-events: none;
    }

.page-item.active .page-link {
    background-color: #f8f9fa;
    border-color: aqua;
    color: black;
}

.page-link {
    color: black;
}

.pagination {
    margin: 1rem;
}

/*.add-to-card {
    max-width: 30px;
}*/

/*.uoms {
    max-width: 20px;
}*/

.form-control {
    padding: 0.3rem;
}

.qty {
    width: 50px;
    height: 25px;
    margin: 0 auto;
}

/*.product-list-qty {
    width: 75px;
}*/

/*.price {
    width: 120px;
    text-align: center;
}*/

/*.description {
    width: 300px;
    text-align: center;
}*/

/*.product-name {
    text-align: center;
}*/

/*.image {
    width: 60px;
}*/

.image-thumbnail.product-list {
    width: 40px;
    height: 40px;
}

.pdp-img-thumbnail {
    width: 25rem;
    height: 25rem;
}

.pdp-image {
    position: absolute;
    left: 25rem;
    top: 10rem;
}

.pdp-description {
    position: absolute;
    left: 53rem;
    top: 10rem;
}

.pdp-add-to-card-control {
    position: absolute;
    left: 53rem;
    top: 23rem;
}

.pdp-description__name {
    font-size: 2rem;
}

.pdp-description__itemNo {
    margin-top: 0.5rem;
}

.pdp-description__price {
    margin-top: 0.5rem;
}

.pdp-description__description {
    margin-top: 0.5rem;
    max-width: 25rem;
}

.pdp-add-to-card-control__qty {
    margin-top: 2rem;
    width: 50px;
    position: relative;
    left: 6rem;
    top: -4rem;
}

.pdp-add-to-card-control__uom {
    margin-top: 1rem;
    width: 80px;
    position: relative;
    left: 11rem;
    top: -7.4rem;
}

.pdp-add-to-card-control__add-to-card {
    margin-top: 1rem;
    position: fixed;
    top: 31rem;
}

.pdp-add-to-card-control__qty-label {
    padding-top: 2rem;
}

.pdp-description__price-value {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #000;
    font-size: 1.5em;
    margin-left: 1rem;
}

.add-this {
    position: absolute;
    margin-top: 27rem;
    margin-left: 32rem;
}

.basket-buttons {
    width: 13rem;
    position: absolute;
    right: 4rem;
    top: 30rem;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 20px;
}

.basket-summary {
    width: 13rem;
    position: absolute;
    right: 4rem;
    top: 9rem;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 20px;
}

.basket-summary__value {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #000;
    font-size: 1.5em;
    margin-left: 1rem;
}

.empty-basket {
    width: 13rem;
    position: absolute;
    right: 4rem;
    top: 27rem;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 20px;
}

.btn-returnUrl {
    font-size: 0.8rem;
}

.btn-procceedToCheckout {
    font-size: 0.8rem;
}

.btn-emptyBasket {
    font-size: 0.8rem;
}

.basket-items {
    margin-top: 1rem;
}

.basket-table {
    margin-top: 1rem;
    /*margin-left: 1rem;*/
}
/*.shopping-cart-list {
    width: 30px;
}*/
.field-validation-error {
    line-height: 12px;
    display: block;
    margin-top: -1rem;
    margin-bottom: 1rem;
    padding: 4px 0px 4px 12px;
    font-size: 0.8rem;
    color: red;
}

.declined-order {
    font-size: 1.2rem;
}

.declined-order_links {
    color: black;
}

.sucessfull-order {
    font-size: 1.2rem;
}

.order-details {
    font-size: 1rem;
    color: black;
}

.sucessfull-order {
    margin-left: 5rem;
    font-size: 1.5rem;
}

.sucessfull-order-nav-items {
    margin-left: 5rem;
    font-size: 1rem;
}

.sucessfull-order__links {
    color: black;
}

.admin-nav-menu {
    width: 11rem;
    height: 13rem;
    background-color: #f8f9fa;
    border-radius: 20px;
    float: left;
    margin-right: 2.5rem;
}

.admin-nav-menu__personal-info {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.admin-nav-menu__order-list {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.admin-nav-menu__product-list {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.change-password {
    display: inline;
}

.submit-order {
    width: 10rem;
    position: absolute;
    right: 4rem;
    top: 6rem;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
}

.decline-order {
    width: 10rem;
    position: absolute;
    right: 4rem;
    top: 9rem;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
}

.decline-order__decline {
    font-size: 1rem;
    color: red;
}

.submit-order__submit {
    font-size: 1rem;
    color: green;
}

.admin-pdp {
    margin: 1rem;
}

.admin-pdp-image-form {
    margin-top: 0.8rem;
}

.admin-pdp-image {
    width: 25rem;
    height: 25rem;
}

.submit-product {
    position: relative;
    right: 10.5rem;
    top: 22.5rem;
}

.product-info {
    width: 60%;
    margin: 0 auto;
}

.image-control {
    float: left;
    width: 60%;
}

.admin-product-info {
    width: 71%;
    margin: 0 auto;
}

.admin-product-table {
    position: relative;
    padding: -4rem;
}

.admin-product-table__table {
    margin-top: 1rem;
}

.admin-product-search-control {
    display: inline;
}

.admin-product-search {
    display: inline-block;
}

.add-admin-product {
    display: inline-block;
    margin-left: 1rem;
}

.fa-pen-square {
    margin-right: 0.7rem;
    color: black;
}

.fa-trash {
    color: black;
}

.admin-orders-search-control {
    display: inline;
}

.admin-orders-search {
    display: inline-block;
    margin-left: 2rem;
}

.admin-orders-filter {
    display: inline-block;
}

.admin-orders-table {
    margin-top: 1rem;
}

.admin-personal-info {
    display: inline;
}

.email-label,
.email-textbox,
.submit-personal-info {
    display: inline-block;
}

.email-textbox {
    margin-left: 0.4rem;
}

.submit-personal-info {
    position: relative;
    top: -0.13rem;
    margin-left: 0.4rem;
}

.decline-order-btn {
    margin-left: 1rem;
}

.order-general-info {
    margin-top: 1rem;
    width: 20%;
    display: inline-block;
}

.order-shipping-info {
    margin-top: 1rem;
    width: 20%;
    display: inline-block;
}

.order-products-info {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 40%;
    display: inline-block;
}

.order-operations {
    margin-left: 13.7rem;
    margin-top: 1rem;
}
