@model OmiconShop.Application.Admin.ViewModel.ProductsListViewModel
@using OmiconShop.WebUI.HtmlHelpers

@{
    ViewBag.Title = "Products List";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<body>
    @Html.Action("Types", "Facet")

    @foreach (var el in Model.Products)
    {
        @Html.Partial("_RenderProducts", el, ViewData)
    }

    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ProductsList", new { page = x, type = Model.Type }))
    </div>
</body>


